body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f7f5;
  color: #333;
}

header {
  background-color: #027373;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #03A678;
  display: flex;
  justify-content: center;
  padding: 10px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
  background-color: white;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h2 {
  color: #027373;
}

img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

footer {
  background-color: #027373;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
